[packages]
pip = "*"
python-dotenv = "*"
ruff = "*"
"data_mining_flight" ={editable = true, path = "."}
kaggle = "*"
pandas = "*"
kagglehub = "*"

[requires]
python_version = "3.11.6"

[dev-packages]
