[packages]
pip = "*"
python-dotenv = "*"
ruff = "*"
kaggle = "*"
kagglehub = "*"
pandas = "*"
matplotlib = "*"
torch = "*"
scipy = "*"
ipykernel = "*"
jupyterlab = "*"
seaborn = "*"
scikit-learn = "*"

[requires]
python_version = "3.11.6"

